.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6e6;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("/corazonpri.gif");
}

.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url("/corazones.gif") ;
}


.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

h1 {
    color: #ff4d4d;
}

p {
    color: #333;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0000;
}
